$primary: #FFFFFF;
$secondary: #363738;

$text-1: #FAFAFA;
$text-2: #000000;

$CL-button-primary: #363738;
$BG-button-primary: #00FF66;

$CL-button: #FAFAFA;
$BG-button: #DB4444;
$CL-button-hv: #A0BCE0;
$BG-button-hv: #E07575;